*.m~
*.swp
*.pdf
*.asv
*.out
/old/*
/development/*
dev_*
/platforms/+Arduino/*
/platforms/+Unity/*
**/personal/*
**/+personal/*
.vscode
/examples/cl_in_C/myMPCsolver.c
/examples/cl_in_C/myMPCsolver.h
